*.pyc
*.pyo
*.o
*.so
*.a
**build
.vscode
.catkin_tools/
devel/
logs/
external.hpp
venv
log/
test_log/
Training_Tom/
darknet53/
simulated_data/
pre_trained_models/
range_images/
pip_requirements.
trained_models/
to-visualize/*
*.pcd
*.npy
